        body {
            /* font-family: "Lato", sans-serif; */
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              background: whitesmoke;
        }

        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #F32C52;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover,
        .offcanvas a:focus {
            color: #f1f1f1;
        }
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }

        label{
            color: #f1f1f1;
            font-size: 25px;
            font-weight:bold;
            padding-left: 30px;
        }
        label2{
             color: #f1f1f1;
            font-size: 18px;
            font-weight:100;
            padding-left: 30px;
        }
        a{
            color: #f1f1f1;
            font-size: 22px;
            font-weight:100;
            padding-left: 30px;
        }
        #header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color:white;
  /* padding-left: 200px; */
    box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.1);
}

       roomtitle{
            color: #404040;
            font-size: 27px;
            font-weight:100;
            padding-left: 1000px;
            padding-top: 50px;
        }
